# Adjust /path/to/application everywhere below as appropriate
# /path/to/application/.htaccess

Options +ExecCGI

SetEnv INTR_TASKS_FILE "/path/to/application/data/tasks.json"
SetEnv INTR_DONE_DIR   "/path/to/application/data"

<FilesMatch "^(tasks|done)$">
  SetHandler cgi-script
  AuthType Basic
  AuthName "INTR Task Tracker"
  # Even better, feel free to put this one level up
  AuthUserFile "/path/to/application/.htpasswd"
  <RequireAll>
    # Adjust network address range as appropriate
    Require ip 127.0.0.1 192.168.1.0/24
    # Authorization logic
    <RequireAny>
      # Allow anonymous GET or HEAD
      Require expr "%{REQUEST_METHOD} in {'GET','HEAD'} && -z req('Authorization')"
      # Need valid-user for POST or already logged in
      Require valid-user
    </RequireAny>
  </RequireAll>
</FilesMatch>
